/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* -------------------- CSS RESET -------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul, menu {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --white: #FFFFFF;
    --lightgray: #F2F2F2;
    --darkblue: #7ABFBF;
    --lightblue: rgba(122, 191, 191, .5);
    --red: #EB5428;
    --black: #0D0D0D;
}
/* --------------------GLOBAL STYLES (mobile first/small) -------------------- */
body {
    line-height: 1;
    background-color: var(--lightblue);
    display: grid;
    place-items: center;
}
main {
    position: relative;
    margin-top: 140px;
    background-color: var(--lightgray);
    padding-bottom: 20px;
}
main section.directions ol li {
    display: grid;
    grid-template-columns: 24px auto;
}
main section.directions ol li span:first-of-type {
    padding-left: 0px;
}
main section.directions ol li:not(:last-of-type) {
    padding-bottom: 20px;
}

main section.side-dishes {
    background-color: var(--darkblue);
    padding: 10px 10px 6px 10px;
}
main section.side-dishes img {
    width: 78px;
    height: 78px;
}
section.side-dishes div {
    margin-top: 25px;
}
section.side-dishes h2 {
    padding-bottom: 12px;
}
section.side-dishes div section {
    padding-left: 15px;
}
section.side-dishes div section h3 {
    padding-bottom: 12px;
}
section.side-dishes div section p {
    padding-bottom: 6px;
}
section.side-dishes div section dt {
    padding-bottom: 2px;
}
header nav {
    position: fixed;
    z-index: 100;
}
main, header, header nav, footer, section div.search-field {
    max-width: 414px;
    width: 100vw;
}
footer {
    background-color: var(--white);
    position: relative;
}
h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', system-ui;
}
h1 {
    font-size: 40px;

}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
nav a, nav span, menu li, #social li, footer {
    font-size: 20px;
}
main p, dd, li, nav, input, dt {
    font-family:'Montserrat', system-ui;
    font-size: 16px;
}
dt {
    font-weight: 700;
}
header h2, footer h2, footer h3 {
    visibility: hidden;
}
a {
    text-decoration: none;
}
nav, nav ul, menu, #social ul {
    display: flex;
}
dl dt {
    display: inline-block;
}
dd {
    display: inline;
}
section div {
    display: flex;
}
section div section {
    display: flex;
    flex-direction: column;
}
svg.icon-tabler-star:not(:last-of-type) {
    fill: var(--red);
}
dl.salsa svg.icon-tabler-star:last-of-type {
    fill: var(--red);
}
div section dd {
    display: block;
}
img.menu-item {
    width: 30%;
}
header nav ul li a, li a, div.nav-button a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav ul li {
    width: 10%;
}
header {
    position: absolute;
    top: 0px;
}
header nav {
    width: 100vw;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom: 4px solid hsl(0, 0%, 85%);
}
header {
    background-color: var(--lightgray);
}
div.menu-options {
    display: none;
    position: absolute;
    top: 18px;
    left: 18px;
}
div.menu-options {
    background-color: var(--white);
    padding: 20px;
}
div.menu-options ul {
    display: flex;
    flex-direction: column;
    width: 144px;
    align-items: center;
}
div.menu-options ul li img {
    width: 72px;
    padding-bottom: 6px;
}
div.menu-options ul li:not(:first-child) {
    padding-top: 16px;
}
a {
    color: var(--red);
}
div.nav-button a {
    color: var(--black);
    text-wrap: nowrap;
}
nav div#hamburger {
    display: inline-block;
    position: relative;
    width: 27%;
}
nav div#avatar {
    width: 27%;
}
nav div#avatar a svg {
    stroke: var(--red);
}
div.home-logo {
    width: 50vw;
    text-align: center;
    background-color: var(--red);
}
div#avatar a, div#hamburger, div.home-logo {
    padding: 9px 0 6px 0;
}
section.search {
    position: absolute;
    top: 0;
}
section div.search-field {
    max-width: 414px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--lightgray);
}
div.search-field span {
    display: flex;
    margin-top: 120px;
}
div.search-field span input {
    border: 2px solid var(--red);
    width: 250px;
}
div.search-field span svg {
    stroke: var(--white);
    background-color: var(--red);
    padding: 0px 5px;
}

header h2, footer h2, section div.search-field h2, main article h2 {
    display: none;
}
main h1 {
    text-align: center;
    padding-top: 39px;
    padding-bottom: 9px;
}
main article menu  {
    padding-top: 12px;
    padding-bottom: 9px;
    text-align: center;
}
main article menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
main article div.main-image {
    display: flex;
    justify-content: center;
}
div.main-image img {
    max-width: 414px;
    width: 100vw;
}
main h2 {
    text-align: center;
}
main article p, 
main section.details,  
main section.directions {
    padding: 12px;
    line-height: 1.5em;
}
main section.ingredients {
    padding-left: 24px;
}
main section.details h2, 
main section.ingredients h2, 
main section.directions h2 {
    padding-bottom: 20px;
}
main section.ingredients h2, 
main section.directions h2 {
    padding-top: 12px;
}
main section.ingredients li {
    list-style-type: disc;
    line-height: 1.75em;
    padding-left: 6px;
}
div#social ul {
    width: 400px;   
    justify-content: space-evenly;
    padding-top: 9px;

}
footer {
    border-bottom: 20px solid var(--lightblue);
}
footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.footer-image {
    padding-bottom: 70px;
    margin-bottom: 20px;
}
div.footer-image img{
    margin-top: 24px;
    width: 42%;
}
div.copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 2px;
}
div.copyright p {
    text-align: center;

}
main article menu li span.jump2,
header nav div#avatar span.sign2 {
    display: none;
}
main div.grid-container {
    display: flex;
    flex-direction: column;
}
menu li a:hover,
ul li a:hover,
div#avatar a:hover,
div#avatar a:hover {
    background-color: var(--red);
    color: var(--white);
    transition: all .5s
}
div#avatar a svg:hover {
    stroke: var(--white);
    transition: all .5s;    
}
main section.side-dishes div.grid-container div:hover {
    background-color: #f66e45;
    transition: all .5s;
}
div.hamburger-options {
    display: none;
    position: absolute;
    height: 0px;
    width: 414px;
}
div#hamburger:hover div.hamburger-options {
    display: block;
}
div.hamburger-options a {
    display: block;
    background-color: var(--white);
    border: #bcbcbc;
    color: var(--red);
    width: 414px;
    height: 5vh;
    transform: translateY(0px);
    text-align: center;
    padding-top: 18px;
}
div.hamburger-options a:hover {
    display: block;
    color: var(--white);
    background-color: var(--red);
    cursor: pointer;
    transition: all .5s ease;
}
/* -------------------- MEDIA QUERY (medium) ----------------------------------- */
@media (min-width: 768px) {
    main, header, footer {
        max-width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main article div.main-image img {
        max-width: 768px;
    }
    header nav {
        height: 284px;
        max-width: 768px;
        z-index: 101;
    }
    nav div#hamburger {
        display: none;
    }
    div.home-logo {
        width: 84px;
        height: 64px;
        z-index: 50;
    }
    nav div#avatar {
        width: 84px;
    }
    header {
        position: fixed;
    }
    header nav {
        height: 194px;
        border-bottom: 6px solid hsl(0, 0%, 85%);
    }
    section div.search-field {
        max-width: 300px;
        position: fixed;
        top: -99px;
        justify-content: left;
        background-color: rgb(255, 255, 255, 0);
    }
    div-search-field span {
        position: inherit;
        width: 90vw;
    }
    div.home-logo a {
        height: 104px;
        margin-bottom: 12px;
    }
    div.menu-options {
        display: flex;
        top: 0px;
        left: 0px;
        justify-content: center;
        padding: 24px 0px 16px 0px;
        max-width: 768px;
        margin-top: 76px;
    }
    div.menu-options ul {
        flex-direction: row;
        width: 100vw;
        padding-left: 16px;
        padding-right: 16px;
        justify-content: space-between;
    }
    div.menu-options ul li {
        padding-top: 0px;
    }
    div.menu-options ul li:not(:first-child) {
        padding-top: 0px;
    }
    div.menu-options ul li img {
        width: 54px;
    }
    main article menu li span.jump1,
    header nav div#avatar span.sign1 {
        display: none;
    }
    main article menu li span.jump2,
    header nav div#avatar span.sign2 {
        display: block;
    }
    main div.main-title {
        max-width: 768px;
        align-self: flex-start;
    }
    main h1 {
        padding-top: 80px;
        margin-left: 12px;
        padding-bottom: 12px;
        text-align: left;
    }
    main article menu {
        background-color: hsla(0, 0%, 95%, .75);
        position: absolute;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    main section.details {
        text-align: center;
    }
    main section.details dl div {
        display: block;
    }
    main section.ingredients {
        width:25%;
    }
    div.plan {
        display: flex;
    }
    main section.directions {
        width: 75%;
        padding-top: 0px;
    }
    main section.directions h2 {
        padding-bottom: 26px;
    }
    main div.grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0px;
    }
    main section.side-dishes {
        max-width: 768px;
        width: 100vw;
        padding-right: 0px;
        padding-left: 0px;
    }
    main section.side-dishes img {
        width: 96px;
        height: 96px;
    }
    main section.side-dishes div {
        padding: 6px 0 6px 0;
        margin: 0px;
    }
    section.side-dishes div section {
        padding-left: 15px;
    }
    main {
        padding-bottom: 0px;
    }
    footer {
        border-bottom: 0px;
    }
    div#social {
        position: relative;
        left: 24%;
    }
    div.footer-image {
        position: relative;
    }
    div.footer-image {
        margin-bottom: 0px;
        right: 198px;
    }
    div.footer-image img {
        width: 186px;
        padding-bottom: 20px;
        margin-top: -49px;
    }
    div.copyright {
        position: absolute;
        right: 196px;
        padding-bottom: 20px;
    }
    div section dd {
        display: inline;
    }
}
/* -------------------- MEDIA QUERY (large) ------------------------------------ */
@media (min-width: 1280px) {  
    main, main article, header, nav, section.details, footer {
        max-width: 1280px;
    }  
    main div.main-title {
        align-self: center;
    }
    div.home-logo {
        width: 145px;
        height: 138px;
        padding-top: 0px;
    }
    div.home-logo a svg {
        padding-top: 42px;
    }
    div#avatar a svg {
        padding-top: 27px;
    }
    nav div#avatar {
        width: 144px;
        height: 124px;
        margin-top: 3px;
    }
    div#avatar a {
        padding: 9px 0 44px 0;
    }
    nav div.menu-options {
        position: relative;
        width: 60%;
        margin: 0 auto;
        height: 102px;
    }
    div.menu-options ul li img {
        width: 85%;
    }
    header {
        height: 150px;
        z-index:120;
    }
    header nav {
        position: relative;
        height: 144px;
        max-width: 1280px;

    }
    section div.search-field {
        position: static;
        margin-top: 72px;
    }
    main h1 {
        padding-top: 115px;
        padding-bottom: 20px;
    }
    main article {
        display: flex;
        flex-direction: row;
        max-width: 1280px;
        max-height: 748px;
    }
    main article menu  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        position: relative;
        top:0px;
        padding-top: 64px;
        padding-bottom: 380px;
        left: 0px;
        width: 145px;
        border: 3px solid var(--red);
    }
    main article menu li {
        width: 40%;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 24px;
    }
    article div.main-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #EB5428;
        max-height: 100%;
        max-width: 100%;
    }
    
    main article div.main-image img {
        width: 532px;
        max-height: 748px;
        background-color: #EB5428;
        align-items: start;
    }
    div.article-p {
        display: flex;
        flex-direction: column;
        width: 637px;
    }
    main article div.article-p p {
        line-height: 2em;
    }
    main section.details {
        background-color: var(--black);
        color: var(--darkblue);
        max-width: 1280px;
        width: 100vw;
        height: 88px;
        padding: 12px 0px 12px 0px;
    }
    main section.details dl div {
        display: flex;
        flex-direction: column;
    }
    main section.details dl {
        display: flex;
        justify-content: space-around;
    }
    div.grid-container div {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        padding: 0px;
        width: 21vw;
    }
    main div.grid-container {
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    main section.side-dishes {
        padding-left: 0px;
        padding-right: 0px;
        height: 400px;
        max-width: 1280px;
    }
    main section.side-dishes img {
        width: 236px;
        height: 236px;
        padding-left: 12px;
        padding-bottom: 12px;
    }
    footer {
        margin: 0px;
        padding: 0px;
    }
    div#social {
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    div#social ul {
        width: 650px;   
        padding: 20px 0 0 0;
        margin: 0px;
    }
    div.copyright {
        position: relative;
        top: -36px;
        right: 306px;
        margin: 0px;
        padding: 0px;
    }
    div.footer-image {
        padding: 0px;
        margin: 0px;
    }
    div.footer-image img {
        width: 250px;
        position: relative;
        top: -30px;
        right: 275px;
        margin: 0px;
        padding: 0px;
    }
}
@media print {
    header, nav, img, input, menu li, dl svg, .search, .side-dishes dt, .copyright {
        display: none;
    }
    @page {
        margin: 0.5in;
    }
    body {
        position: relative;
        columns: 2;
    }
    main, footer, .ingredients {
        position: absolute;
        top: 0;
        max-width: 7.5in;
    }
    .main-title {
        left: 0px;
    }
    h1, h2, h3, dt, dd, li, p, a, .article-p p, .side-dishes .grid-container section p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    footer {
        top: -38px;
        left: -136px;
        border-bottom: 0px;
        font-size: 0.5em;
    }
    #social ul {
        display: flex;
        justify-content: center;
    }
    #social ul li {
        padding-right: 12px;
    }
    .main-title {
        padding-top: 14px;
    }
    div.article-p {
        columns: 2;
    }
    div.article-p p {
        padding-top: 0px;
        margin-top: 0px;
        line-height: .95em;
    }
    main .main-title h1 {
        text-align: center;
        padding-top: 0px;
        padding-left: 12px;
        
    }
    main section.details {
        line-height: 0.95em;
    }
    main section.ingredients {
        top: 166px;
        right: 0px;
    }
    main section.ingredients ul li {
        line-height: 0.95em;
        text-align: right;
        list-style-type: none;
    }
    main section.side-dishes h2,
    main section.directions h2 {
        padding-bottom: 12px;
    }
    main section.directions ol li {
        line-height: 0.95em;
    }
    main section.ingredients h2 {
        text-align: right;
        padding-bottom: 0px;
    }
    main section.details h2 {
        text-align: left;
        padding-bottom: 6px;
    }
    .grid-container {
        columns: 4;
    } 
    .grid-container div section {
        line-height: 0.95em;
    }
    main section.side-dishes {
        padding: 0px;
    }
    section.side-dishes div {
        margin: 0px;
    }
    main section.grid-container {
        display: flex;
        flex-flow: row nowrap;
    }
    a[href] {
        color: var(--black);
    }
    a[href]::after {
        content: " (" attr(href)")";
        color: var(--black);
        font-size: 14px;
    }
    #social svg {
        stroke: var(--black);
    }
}